---
import Layout from "@/layouts/Layout.astro";

import DownloadsSection from "@/components/DownloadsSection.astro";
import FaqSection from "@/components/FaqSection.astro";
import FeaturesSection from "@/components/FeaturesSection.astro";
import HeroSection from "@/components/HeroSection.astro";
import HowToUseSection from "@/components/HowToUseSection.astro";

const title = "Аренда спецтехники без комиссии | Мобильное приложение Сами";
const description =
  "Аренда спецтехники в Москве, Московской области и по всей России через приложение Сами. Более 40 категорий: автокраны, экскаваторы, автовышки. Поиск ближайшей техники в вашем районе.";
---

<Layout title={title} description={description}>
  <slot slot="meta">
    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content={import.meta.env.SITE} />
    <meta property="og:title" content={title} />
    <meta
      property="og:description"
      content="Аренда спецтехники в Москве, Московской области и по всей России через приложение САМИ. Более 40 категорий: автокраны, экскаваторы, автовышки. Поиск ближайшей техники в вашем районе."
    />
    <meta property="og:image" content={`${import.meta.env.SITE}/og-logo.png`} />
  </slot>

  <div class="flex flex-col gap-16">
    <HeroSection />
    <FeaturesSection />
    <HowToUseSection />
    <FaqSection />
    <DownloadsSection />
  </div>
</Layout>
